#tree-container{
    background-image: url('assets/tree.svg');
    height: 80vh;
    width: 40vw;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}

#apple{
    height: 8vh;
    width: 8vw;
    margin-top: 14rem;
    margin-left: 14rem;
    position: absolute;
    top: 10px;
}

#man{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    height: 20vh;
    width: auto;
    margin-top: 14rem;
    margin-left: 14rem;
    position: absolute;
    bottom: 2rem;
}

#input-container{
    flex-grow: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 5vh;
    width: 22vw;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
}

#btn{
    height: 5vh;
    width: 10vw;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000;
    margin-top: 1rem;
    cursor: pointer;
    background-color: aqua;
}

.hi{
    font-size: 2rem;
    margin-top: 1rem;
    font-family: monospace;
}